.canvas {
    height: inherit;
    width: inherit;
    border: 2px solid black;
    padding: 10px;
}

.fluent-nav-item > .positioning-region:hover {
    background: var(--neutral-fill-stealth-rest) !important;
}
