@implements IDialogContentComponent<UIElement>
@using AzureApplicationAccelerator.Constants
@using AzureApplicationAccelerator.Elements.Constants
@using AzureApplicationAccelerator.Elements.Models.Elements

<FluentDialogBody>
    <FluentAnchor Id="infoLink"
                  Target="_blank"
                  Href="@AzureResourceUIConstants.ElementTypeInfoLinks[Content.Type]"
                  IconStart="@(new Icons.Regular.Size16.Info())">
        Docs
    </FluentAnchor>

    <FluentTooltip Anchor="infoLink">
        Azure Documentation Link
    </FluentTooltip>

    @if (ElementRegistry.ComponentMap.ContainsKey(Content.Type) && ElementRegistry.ComponentMap[Content.Type].ConfigComponent != null)
    {
        <DynamicComponent Type="@ElementRegistry.ComponentMap[Content.Type].ConfigComponent" />
    }
    else
    {
        <p>No editor component found for type: @Content.Type</p>
    }

</FluentDialogBody>

@code {
    [Parameter] public UIElement Content { get; set; } = default!;
}
